form{
    position: relative;
}

form input {
    border-radius: 10px 10px 10px 10px !important;
    border: 1px solid grey !important;
}

form i{
    position: absolute;
    font-size: 28px;
    right: 5%;
    cursor:pointer;
}

nav .nav-item a{
    color:white !important;
    font-size: 35px;
}

.header-bottom{
    background:#f6ecec;
    color: #2d2d4b;
}

.header-bottom > nav > div > div > ul{
    list-style:none;
    display:flex;
}

/* Header-Bottom */
.header-bottom > nav > div > div > ul > li > a{
    margin-right: 20%;
    color:black;
}

.header-bottom > nav > div > div > ul > li:hover .header-bottom > nav > div > div > ul > li{
    color: #00ebb9;
}


.header-bottom > nav > div > div > ul > li:hover  .sub-nav{
    display: block;
}

/* Items */
.sub-nav{
    float:left;
    background:#f6ecec;
    display:none;
    position: absolute;
    width: 100%;
    right: 0;
}

.sub-nav > ul {
    display: inline-flex;
    list-style: none;
}

.sub-nav > ul > li{
    display: block;
    list-style: none;
}

.sub-nav > ul > li > h1{
    font-size: 1rem;
}

.sub-nav > ul > li > ul {
    font-size: .75rem;
    list-style: none;
}

/* Modal carrito */
.ModalCarrito{
    position: absolute;    
    width: 100%;
    height: 100%;
    background: #00000082;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.ModalCarrito .chart-wrapper{
    background: white;
    position: fixed;
    height: 100%;
    right: -25%;
    transition: all ease .3s;
    padding: 1% 3%;
}

.ModalCarrito > .chart-wrapper > .cart-view > .header-cart{
    text-align: center;
}

.ModalCarrito > .chart-wrapper > .cart-view > .header-cart{
    text-align: center;
    position: relative;
}

.ModalCarrito > .chart-wrapper > .cart-view > .header-cart > i{
    position: absolute;
    left: 0%;
    top: 15%;
    font-size: 2rem;
    cursor: pointer;
}

